body {
margin: 0 auto;
max-width: 500px;
font-family: "Helvetica", "Arial", sans-serif;
line-height: 1.5;
padding: 40px 10px;
color: #555;
}

h2 {
  margin-top: 10px;
  padding-top: 1em;
}
h1,
h2,
strong {
  color: #333;
}
pre {
  padding: 10px;
  border-left: 2px solid #69c;
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}
