html {
  /*background: black;*/
  color: black;
  font-family: "Courier New";
  font-size: 11px;
  /*background: black url(images/bg.gif) center no-repeat;*/
  background-size: cover;
  height: 100%;
  user-select: none;
  /*pointer-events: none;*/
}
.header {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 100px;
  transition: 1s;
}
.logo {
  margin-bottom: 10px;

}
.logo img {
  transition: 2s;
}
.logo img:hover {
  padding-top: 200px;
}
.container {
  max-width: 620px;
  margin: 0 auto;
  animation-name: opacity;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.footer a {
  color: black;
  font-size: 11px;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 0.5s, 2s;
}
.footer a:hover {
  background: red;
  color: white;

}
.main img{
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  opacity: .3;
  transition: .5s;
}
.main img:hover {
  opacity: 1;

}
.main {
  line-height: 0;
  margin-bottom: 35px;
}
.navigation li {
  display: inline-block;
  margin-right: 8px;
}
.navigation .last-link {
  margin-right: 16px;
}
/*.footer .last-link-color {
  color: red;
}*/
@media screen and (max-widht: 320px){
  .container {
    width: 320px;
  }
  .header {
    margin-top: 50px;
  }
}
.navigation li:last-of-type a{
  color: red;
}
